[package]
name = "beercalc"
version = "0.0.0+git"
edition = "2021"
license = "MIT"
build = "build.rs"

[dependencies]
yew = { version = "0.22.0", features = ["csr"] }
console_error_panic_hook = "0.1.7"
web-sys = { version = "0.3.82", features = [
    "Request",
    "RequestInit",
    "Response",
    "Window",
    "console",
    "Navigator",
    "Event",
    "EventTarget",
    "HtmlSelectElement",
    "MediaQueryList",
    "DomTokenList",
] }
yew-router = "0.18.0"
anyhow = "1.0.100"
serde = "1.0.228"
serde_yaml2 = "0.1.3"
wasm-bindgen-futures = "0.4.55"
wasm-bindgen = "0.2.105"
js-sys = "0.3.82"
enum-iterator = "2.3.0"
yewdux = "0.11.0"

[build-dependencies]
vergen-gitcl = "1.0.8"

[profile.release]
panic = 'abort'
codegen-units = 1
opt-level = 'z'
lto = true
