[package]
name = "beercalc"
version = "0.1.0"
authors = ["Alex Ellwein <alex.ellwein@gmail.com>"]
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
dioxus = { version = "0.7.1", features = ["router"] }
dioxus-i18n = "0.5.1"
tracing = "0.1.44"
unic-langid = { version = "0.9.6", features = ["macros"] }
web-sys = { version = "0.3.85", features = [
    "Window",
    "MediaQueryList",
    "Document",
    "Element",
    "DomTokenList",
    "Navigator",
]}

[features]
web = ["dioxus/web"]

[profile.release]
opt-level = "z"
debug = false
lto = true
codegen-units = 1
panic = "abort"
incremental = false