<div class="alcohol-rechner">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Alkoholrechner</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="card">
          <div class="card-body">
            <div class="container-fluid">
              <div class="row">
                <div class="col-6">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="unit" value="brix" [(ngModel)]="unit">
                    Brix
                  </label>
                </div>
                <div class="col-6">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="unit" value="plato" [(ngModel)]="unit">
                    ° Plato
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="card">
          <div class="card-body">
            <div class="container-fluid">
              <div class="row">
                <div class="col-4">
                  <label for="stammwuerze">Stammwürze</label>
                </div>
                <div class="col-4">
                  <div class="input-group">
                    <input type="number" id="stammwuerze" class="form-control" min="1" max="35" step=".1"
                           [(ngModel)]="stammwuerze" (input)="calculate()">
                    <span class="input-group-addon">{{einheit()}}</span>
                  </div>
                </div>
                <div class="col-4" *ngIf="calcResultBrix&&unit=='brix'">{{calcResultBrix.stw.plato.toFixed(1)}} °P /
                  {{calcResultBrix.stw.sg.toFixed(3)}} SG
                </div>
                <div class="col-4" *ngIf="calcResultPlato&&unit=='plato'">{{calcResultPlato.stw.brix.toFixed(1)}} Brix /
                  {{calcResultPlato.stw.sg.toFixed(3)}} SG
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  <label for="restextrakt">Restextrakt</label>
                </div>
                <div class="col-4">
                  <div class="input-group">
                    <input type="number" id="restextrakt" class="form-control" min="1" max="35" step=".1"
                           [(ngModel)]="restextrakt" (input)="calculate()">
                    <span class="input-group-addon">{{einheit()}}</span>
                  </div>
                </div>
                <div class="col-4" *ngIf="calcResultBrix&&unit=='brix'">{{calcResultBrix.re.plato.toFixed(1)}} °P /
                  {{calcResultBrix.re.sg.toFixed(3)}} SG
                </div>
                <div class="col-4" *ngIf="calcResultPlato&&unit=='plato'">{{calcResultPlato.re.brix.toFixed(1)}} Brix /
                  {{calcResultPlato.re.sg.toFixed(3)}} SG
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="displayPlatoCalculations()">
      <div class="col-6">
        <div class="card">
          <div class="card-body">
            <div class="card-title"><h4>Ergebnisse</h4></div>
            <div class="container-fluid">
              <div class="row">
                <div class="col-6">Scheinbarer Restextrakt:</div>
                <div class="col-6">{{calcResultPlato.re.plato.toFixed(1)}} °P</div>
              </div>
              <div class="row">
                <div class="col-6">Tatsächlicher Restextrakt:</div>
                <div class="col-6">{{calcResultPlato.formula.TRE.toFixed(1)}} %</div>
              </div>
              <div class="row">
                <div class="col-6">Scheinbarer EVG:</div>
                <div class="col-6">{{calcResultPlato.formula.sEVG.toFixed(1)}} %</div>
              </div>
              <div class="row">
                <div class="col-6">Tatsächlicher EVG:</div>
                <div class="col-6">{{calcResultPlato.formula.tEVG.toFixed(1)}} %</div>
              </div>
              <div class="row">
                <div class="col-6">Alkohol in % des Gewichts:</div>
                <div class="col-6">{{calcResultPlato.formula.alcGw.toFixed(1)}} % Gew.</div>
              </div>
              <div class="row">
                <div class="col-6">Alkohol in % des Volumens:</div>
                <div class="col-6">{{calcResultPlato.formula.alcVol.toFixed(1)}} % Vol.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="displayBrixCalculations()">
      <div class="col-6">
        <div class="card">
          <div class="card-body">
            <div class="card-title"><h4>Berechnung nach Standard-Formel</h4></div>
            <div class="container-fluid">
              <div class="row">
                <div class="col-6">Scheinbarer Restextrakt:</div>
                <div class="col-6">{{calcResultBrix.standard.SRE_Plato.toFixed(1)}} °P</div>
              </div>
              <div class="row">
                <div class="col-6">Tatsächlicher Restextrakt:</div>
                <div class="col-6">{{calcResultBrix.standard.TRE.toFixed(1)}} %</div>
              </div>
              <div class="row">
                <div class="col-6">Scheinbarer EVG:</div>
                <div class="col-6">{{calcResultBrix.standard.sEVG.toFixed(1)}} %</div>
              </div>
              <div class="row">
                <div class="col-6">Tatsächlicher EVG:</div>
                <div class="col-6">{{calcResultBrix.standard.tEVG.toFixed(1)}} %</div>
              </div>
              <div class="row">
                <div class="col-6">Alkohol in % des Gewichts:</div>
                <div class="col-6">{{calcResultBrix.standard.alcGw.toFixed(1)}} % Gew.</div>
              </div>
              <div class="row">
                <div class="col-6">Alkohol in % des Volumens:</div>
                <div class="col-6">{{calcResultBrix.standard.alcVol.toFixed(1)}} % Vol.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card">
          <div class="card-body">
            <div class="card-title"><h4>Berechnung nach Terrill-Formel</h4></div>
            <div class="container-fluid">
              <div class="row">
                <div class="col-6">Scheinbarer Restextrakt:</div>
                <div class="col-6">{{calcResultBrix.terrill.SRE_Plato.toFixed(1)}} °P</div>
              </div>
              <div class="row">
                <div class="col-6">Tatsächlicher Restextrakt:</div>
                <div class="col-6">{{calcResultBrix.terrill.TRE.toFixed(1)}} %</div>
              </div>
              <div class="row">
                <div class="col-6">Scheinbarer EVG:</div>
                <div class="col-6">{{calcResultBrix.terrill.sEVG.toFixed(1)}} %</div>
              </div>
              <div class="row">
                <div class="col-6">Tatsächlicher EVG:</div>
                <div class="col-6">{{calcResultBrix.terrill.tEVG.toFixed(1)}} %</div>
              </div>
              <div class="row">
                <div class="col-6">Alkohol in % des Gewichts:</div>
                <div class="col-6">{{calcResultBrix.terrill.alcGw.toFixed(1)}} % Gew.</div>
              </div>
              <div class="row">
                <div class="col-6">Alkohol in % des Volumens:</div>
                <div class="col-6">{{calcResultBrix.terrill.alcVol.toFixed(1)}} % Vol.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

