@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "UbuntuSansNF";
    src: url("fonts/UbuntuSansNerdFont/UbuntuSansMonoNerdFont-Regular.ttf") format("opentype");
}

body {
    font-family: "UbuntuSansNF", sans-serif;
}