name: CI

on:
  push:
  workflow_dispatch:

concurrency:
  group: "github-pages"
  cancel-in-progress: false

permissions:
    contents: read
    pages: write
    id-token: write

jobs:
  build:
    name: trunk build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Enable Rust cache
        uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2.8.2

      - name: Setup Rust
        uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1.15.2

      - name: Setup trunk
        uses: jetli/trunk-action@1346cc09eace4beb84e403e199a471346d4684c9 # v0.5.1
        with:
          version: 'latest'

      - name: Check format
        run: cargo fmt --all -- --check

      - name: cargo clippy
        run: cargo clippy --all-features -- -D warnings

      - name: trunk build
        run: trunk build --release && ls -laR dist/
        env:
          TRUNK_BUILD_PUBLIC_URL: "/beercalc/"

      - name: replace branch name
        run: |
          echo "REPL_BRANCH_NAME=${BR_NAME////_}" >> $GITHUB_ENV
        env:
          BR_NAME: ${{ github.head_ref || github.ref_name }}

      - name: upload artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: dist-${{ env.REPL_BRANCH_NAME }}
          path: dist/
          retention-days: 1

  deploy:
    runs-on: ubuntu-latest
    needs: build
    if: github.ref == 'refs/heads/main'
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Setup pages
        uses: actions/configure-pages@983d7736d9b0ae728b81ab479565c72886d7745b # v5.0.0

      - name: replace branch name
        run: |
          echo "REPL_BRANCH_NAME=${BR_NAME////_}" >> $GITHUB_ENV
        env:
          BR_NAME: ${{ github.head_ref || github.ref_name }}

      - name: Download artifact
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: dist-${{ env.REPL_BRANCH_NAME }}
          path: dist/

      - name: Upload artifact
        uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # v4.0.0
        with:
          path: 'dist'

      - name: Deploy to GitHub pages
        id: deployment
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4.0.5
