name: CI

on:
  push:
  workflow_dispatch:

concurrency:
  group: "github-pages"
  cancel-in-progress: false

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    name: Build Artifact
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Enable Rust cache
        uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2.8.2

      - name: Setup Rust
        uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1.15.2

      - name: Setup dx cli
        run: |
          curl -sSL https://dioxus.dev/install.sh | bash

      - name: Check format
        run: cargo fmt --all -- --check

      - name: cargo clippy
        run: cargo clippy --all-features -- -D warnings
